@tailwind base;
@tailwind components;
@tailwind utilities;

i{
  color: #71717a;
}
/* * {
  font-family: "Gilroy";
} */
::-webkit-scrollbar {
  width:8px;    /* For vertical scrollbars */
  height: 3px;   /* For horizontal scrollbars */
}
::-webkit-scrollbar-thumb {
  background-color: rgb(148, 176, 254);

  border-radius: 50px;
}
